:root{
  /* verde: #198754 */
  --main-color: #198754;
  --secondary-color: #ffffff;
  --body-color:var(--main-color);
  --navbar-color: var(--secondary-color);
  --nav-text-color: var(--main-color);
  --text-color: var(--secondary-color);
  
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-color: var(--body-color);
}

/* -------------NAVBAR----------------- */

.bg-light{
  /* navbar color */
  background-color: var(--navbar-color) !important;
}

.nav-item {
  align-self: baseline;
}

.rounding{
  /* navbar border-radius: 30px; */
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 30px;
}

.navbar-light .navbar-toggler{
  border-color: rgba(0, 0, 0, 0);
  color: var(--main-color);
  border-bottom-right-radius: 30px;
}

/* sm breakpoint - mobile view */
@media screen and (max-width: 575px) {

  .nav-item {
    align-self: center;
  }

}

.nav-text-color{
  color: var(--nav-text-color) !important;
  opacity: 1;
}

/* ---------------MAIN----------------- */

.text-color{
  color: var(--text-color) !important;
  opacity: 1;
}

main {
  display: flex;
  flex-direction: column;/* rimuovere? */
  justify-content: center;
  align-items: center;
  height: 100%;
}

.cont1{
  border-radius: 30px;
  border: 1px solid var(--secondary-color);
  background-color: rgba(255, 255, 255, 0.2);
  justify-content: center;
  width: 100%;
}

.cont1 > .row {
  /* righe */
  height: 70px;
  border-bottom: 1px solid var(--secondary-color);
}

.cont1 > .row > .col {
  /* colonne */
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.25rem;
  color: var(--secondary-color);
}











/* ---------------CALENDAR----------------- */
input[type="date"]{
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 10px;
  color: #fff;
  font-family: "Roboto mono", monospace;
  border: none;
  font-size: 20px;
  outline: none;  /*?*/
  width: 150px;
}

input:focus{
  border: 5px solid #334756;
}

input[type='date']::-webkit-calendar-picker-indicator{
  opacity: 1;
  display: block;
  width: 25px;
  height: 25px;
  border-width: thin;
  filter: invert(1);
  
}






        

    