:root {
  /* verde: #198754 */
  --main-color: #198754;
  --second-color: #ffffff;
  --terz-color: #51A077;

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 1.1rem;
}

body {
  height: 100vh;
  background-color: var(--main-color);

  /*   background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("assets/verticalbowl.jpg"); */
}

.body-mask {
  padding-top: 65px;
  height: 100vh;
  /*   background-color: rgba(0, 0, 0, 0.8); */
  width: 100%;
}

/* -------------NAVBAR----------------- */

.bg-light {
  /* navbar color */
  background-color: var(--second-color) !important;
}

.nav-item {
  align-self: baseline;
}

.rounding {
  /* navbar border-radius: 30px; */
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 30px;
}

.navbar-light .navbar-toggler {
  border-color: rgba(255, 255, 255, 0);
  color: var(--main-color);
  border-bottom-right-radius: 30px;
}

.nav-text-color {
  color: var(--main-color) !important;
  opacity: 1;
}


/* diario alimentare */
.space-nowrap {
  white-space: nowrap;
}

/* ---------------MAIN----------------- */
main {
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* allineamento verticale */
  align-items: center;
  position: relative;

}

.cont1 {
  border-radius: 45px;
  background-color: rgba(255, 255, 255, 0.2);
  justify-content: center;
  align-items: center;
  width: 100%;
  min-width: 300px;
  overflow: hidden;
  padding: 16px;
  box-shadow: 0 0rem 1rem rgba(0, 0, 0, 0.3);
    /* font-family: ; */
}

.col {
  /* colonne */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--second-color);
}


/* ---------------CALENDAR----------------- */
input[type="date"] {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 30px;
  border: none;
  color: var(--main-color);
  min-width: 125px;
  min-height: 50px;
  outline: none;
  cursor: pointer;
  box-sizing: border-box;
  position: relative;
  box-shadow: 0 0rem 1rem rgba(0, 0, 0, 0.5);
}

input[type='date']::-webkit-calendar-picker-indicator {
  /* https://codepen.io/sosuke/pen/Pjoqqp */
  /*filter: invert(45%) sepia(32%) saturate(955%) hue-rotate(100deg) brightness(88%) contrast(93%);*/
  background: transparent;
  bottom: 0;
  font-family: "Roboto mono", monospace;
  color: transparent;
  cursor: pointer;
  height: auto;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: auto;
}


/* modal - popup search */

#display {
  max-height: 200px;
  overflow: hidden;
  overflow-y: scroll;
}

#searchedItem {
  background-color: white;

}

.list-group-item {
  cursor: pointer
}

/* per centrare modal */
/* .modal-dialog {
  min-height: calc(100vh - 60px);
  display: flex;
  flex-direction: column;
  justify-content: center;
} */

.btn-default {
  border-color: #ccc;
}


/* hover, click,... default color */
.form-control:focus,
.form-select:focus {
  border-color: #198754;
  box-shadow: 0 0 0 0.2rem #28a74540;
}

.form-check-input:focus {
  border-color: #198754;
  outline: 0;
  box-shadow: 0 0 0 0.25rem #b6edd3;
}

.form-check-input:checked {
  background-color: #198754;
  border-color: #198754;
}

.form-check-input[type=checkbox]:indeterminate {
  background-color: #198754;
  border-color: #198754;
}

/*----------cambio colori icone (frecce) ACCORDIONS (bootstrap)--------- */

.accordion-button:not(.collapsed)::after {
  /* replace color: insert after fill='%23---hex color without # */
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23198754'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

.accordion-button::after {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23FFFFFF'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

/* ---------------------------ACCORDION----------------------- */
.accordion {
  border-radius: 30px !important;
}

.accordion-button {
  background-color: transparent;
  border-radius: 0px !important;
  border-bottom-left-radius: 30px !important;
  border-top-right-radius: 30px !important;
  /* uguale a sotto */
}

.accordion-item {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 30px !important;
  overflow: hidden;
  margin-top: 20px;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.5);
}

/* -----------accordion button------------- */
.accordion-button:not(.collapsed) {
  color: var(--main-color);
}

.accordion-button:focus {
  border-color: var(--main-color);
  box-shadow: none;
}

.accordion-button[aria-expanded='true'] {
  background-color: var(--second-color);
}


/*classe per il plus-button*/

.plus-button {
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
  width: 45px;
  height: 45px;
  border-radius: 30px;
  margin: 5px;
  box-shadow: 0 0rem 0.4rem rgba(0, 0, 0, 0.7);
}

/*classe per del-button*/
.del-button {
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
  width: 50px;
  height: 35px;
  border-radius: 30px;
  margin: 5px;
  box-shadow: 0 0rem 0.4rem rgba(0, 0, 0, 0.7);
}

.btn-check:focus+.btn-success,
.btn-success:focus {
  box-shadow: none;
}

/* -------------------------TABELLE--------------------- */

.acc-header {
  /* stessa larghezza di accordion-body */
  padding: 0.5rem 1.2rem;
  overflow: hidden;
}

.accordion-body {
  /* stessa larghezza di acc-header */
  padding: 0.5rem 1.2rem;
  padding-top: 0rem !important;
  overflow: hidden;
}

.head-large {
  flex-wrap: nowrap;
  column-gap: 3px;
  border-radius: 30px;
  background-color: var(--main-color);
  /* background-color: var(--terz-color); */
  /* background-color: rgba(255, 255, 255, 0.5); */
  overflow: hidden;
  box-shadow: 0 0rem 0.4rem rgba(0, 0, 0, 0.8);
}

.head-large>* {
  /* columns */
  align-self: center;
  /* background-color: var(--main-color); */
  background-color: var(--terz-color);
  padding-top: 2px;
  padding-bottom: 2px;

}

.alim-row {
  margin-top: 15px;
  padding-left: 5px;
  padding: 5px;
  /* background-color: var(--main-color); */
  border-radius: 30px;
  column-gap: 3px;
  box-shadow: 0 0rem 0.5rem rgba(0, 0, 0, 0.7);
  overflow: hidden;
  background-color: var(--terz-color);
}

.alim-row>*:not(.small-header) {
  /* columns */
  min-height: 60px;
  /* background-color: var(--terz-color); */
  background-color: var(--main-color);
  z-index: 1;
}

.small-header {
  flex-wrap: nowrap;
  column-gap: 3px;
  /* background-color: var(--main-color); */
  background-color: var(--terz-color);
}

.small-header>.row>.col {
  font-size: medium;
}

/* alim */

.testo-alim {
  text-align: center;
  font-size: calc(80% + 0.1vw);
}





/* ---------------- CHART JS -----------*/

.chartBox {
  width: 250px;
}




/* ----------- MEDIA QUERIES --------- */

/* <md breakpoint - mobile view */
@media screen and (max-width: 767.98px) {
  * {
    font-size: 1.1rem;
  }

  .nav-item {
    align-self: center;
  }

  main {
    padding-left: 0px !important;
    padding-right: 0px !important;
  }

  .cont1 {
    width: 100%;
    padding: 0;
    border-radius: 30px !important;
  }

  .head-large {
    display: none;
  }

  .plus-button {
    width: 60px;
    height: 60px;
    margin: 10px;

  }

  .del-button {
    width: 60px;
    height: 45px;
    margin: 5px;
    border-radius: 10px;
    border-top-left-radius: 20px;
  }


  .testo-alim {
    font-size: 0.9rem;
  }

  .alim-only {
    border-top-left-radius: 25px !important;
    border-top-right-radius: 25px !important;
  }

  .bord-tr {
    border-top-right-radius: 25px !important;
  }

  .bord-tl {
    border-top-left-radius: 25px !important;
  }

  .bord-br {
    border-bottom-right-radius: 25px !important;
  }

  .bord-bl {
    border-bottom-left-radius: 25px !important;
  }

  .alim-row {
    background-color: var(--terz-color);
  }



  .alim-row>*:not(.small-header) {
    /* columns */
    /* background-color: var(--terz-color); */
    border-radius: 5px;
    background-color: var(--main-color);
    box-shadow: 0 0rem 0.3rem rgba(0, 0, 0, 0.5);
  }

}

/* >md breakpoint - desktop view */
@media screen and (min-width:768px) {

  .alim-row {
    /* border: 1px solid var(--second-color); */
    padding: 0px;
  }

  .alim-row>*:not(.small-header) {
    gap: 0px;
  }

  .alim-only {
    /* background-color: var(--main-color) !important; */
  }

  .m-wid-car{
    min-width: 121.61px;
  }
  .m-wid-prot{
    min-width: 97.78px;
  }
}