/* @import "../bootstrap/css/bootstrap.css"; */
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

html, body{
  height: 100%;
}
body{
  align-items: center;
  justify-content: center;
  background-color: #198754;
}

.form-control:focus, .form-select:focus{
  border-color: #198754;
  box-shadow: 0 0 0 0.2rem #28a74540;
}

.form-check-input:focus {
  border-color: #198754;
  outline: 0;
  box-shadow: 0 0 0 0.25rem #b6edd3;
}
.form-check-input:checked {
  background-color: #198754;
  border-color: #198754;
}
.form-check-input[type=checkbox]:indeterminate {
  background-color: #198754;
  border-color: #198754;}

.bg-image{
  width: 100%;
  position:relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size:cover;
  background-image: url(../assets/verticalbowl.jpg);
}

/* Desktop view */
@media screen and (min-width: 992px){ /* lg bootstrap breakpoint*/
  .bd-ovflow{
  border-radius: 30px;
  overflow: hidden;
  }
  .h-bg-75{
    height: 75% !important;
  }
  .bg-image{
    height:auto !important;
  }

}

/* center modal view*/
  
body.modal-open .modal {
  display: flex !important;
  height: 100%;
} 

body.modal-open .modal .modal-dialog {
  margin: auto;
}

.fs-0{
  font-size: 4rem;
  
}
.fs-7{
  font-size: 0.8rem;
}
.tx-shad-black{
  text-shadow: 0 0 3px #000000;
}
.tx-shad-white{
  text-shadow: 0 0 1px #ffffff;
}

/*
.btn-success {
  color: #fff;
  background-color: #198754;
  border-color: #198754;
*/
