/* @import "../bootstrap/css/bootstrap.css"; */

.fs-0{
  font-size: 4rem;
}
.fs-7{
  font-size: 0.8rem;
}

/*
.btn-success {
  color: #fff;
  background-color: #198754;
  border-color: #198754;
*/
html {
  height: 100%;
}
body {
  min-height: 100%;
}